.banner7{
    display: flex;
    flex-direction: row;
    padding: 35px 150px;
    gap: 40px;
    background-color: rgb(222, 222, 222);
    &__cont2{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    
}
@include mobile{
    .banner7{
        display: flex;
        flex-direction: column;
        padding: 30px;
        &__cont2{
            display: flex;
            flex-direction: column;
        }
    }
}
@include tablet{
    .banner7{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
}